<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>6.4.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>33</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Pick a screenshot to submit from your gallery</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>USABILLA_API_HOST</key>
	<string>https://api-staging.usabilla.com</string>
	<key>USABILLA_CDN_HOST</key>
	<string>https://sdk.out-staging.usbla.net</string>
	<key>USABILLA_SUBMIT_ENDPOINT</key>
	<string>https://w-staging.usabilla.com/incoming</string>
</dict>
</plist>
