//
//  Production.xcconfig
//  ReleaseValidator
//
//  Created by Hitesh Jain on 26/05/2020.
//  Copyright © 2020 Usabilla. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

UB_FORM_ID = 5a16d9c67d66810f2248aad9
